@model ProyectoSenaLmour.Models.TipoServicio

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Crear Tipo De Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoServicio" class="control-label"></label>
                <input asp-for="IdTipoServicio" class="form-control" />
                <span asp-validation-for="IdTipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreTipoServicio" class="control-label"></label>
                <input asp-for="NombreTipoServicio" class="form-control" />
                <span asp-validation-for="NombreTipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
