@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/scripts.js" />
	<link href="~/css/site.css" rel="stylesheet" />
	<script src="~/js/site.js"></script>
</head>
<body>

    <div class="text-center">


        <div class="alert alert-success">
            <h6 class="display-8">la siguiente grafica corresponde al flujo de abonos</h6>


        </div>

    </div>




    <canvas id="bar-chart" width="900" height="450"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/Scripts.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/js/Scripts.js"></script>
                <script src="https://kit.fontawesome.com/b7eff4b9c4.js" crossorigin="anonymous"></script>

</body>
</html>